server {
    listen 127.0.0.1:8450 ssl http2;
    server_name __NSUB1__ __NSUB2__ __NSUB3__;

    ssl_certificate     /etc/letsencrypt/live/__MAIN_DOMAIN__/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/__MAIN_DOMAIN__/privkey.pem;

    client_max_body_size 0;

    # تونل xhttp → xray:8001 (بدون X-Forwarded-For تا x-ui اسپم نکند)
    location __XHTTP_PATH__ {
        proxy_pass http://127.0.0.1:8001;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For "";
        proxy_set_header X-Real-IP "";
        proxy_buffering off;
        proxy_request_buffering off;
        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
        chunked_transfer_encoding off;
    }

    # پنل و sub → node:3000 (اینجا X-Forwarded-For لازم است)
    location / {
        proxy_pass http://127.0.0.1:3000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    }
}
